@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

canvas{
    display: block;
    margin: 0 auto;
}

body{
    background: rgb(75, 67, 67);
}

#refresh{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    margin-top: 1cm;
    margin-left: 14cm;
}

#refresh:hover{
    cursor: pointer;
}